{% extends "auth/templates/_layouts/account_base.html" %}
{% set active_section = "delete" %}

{% block settings_content %}
<div>
    <div class="border-b border-surface-300 dark:border-surface-700 pb-4 mb-4">
        <h2 class="text-lg font-semibold">Delete Account</h2>
        <p class="text-sm opacity-70">Permanently delete your account and all associated data</p>
    </div>

    <div class="flex flex-col space-y-4">
        <p class="text-sm opacity-70"><span class="font-bold">This action cannot be undone.</span> By deleting you will permanently delete your account and all of your associated data, including snippets.</p>
        <form action="{{ url_for('auth.delete_account.post') }}" method="POST" class="inline" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
            <button type="submit" class="btn btn-alert">
                Delete Account
            </button>
        </form>
    </div>
</div>
{% endblock %}
