{% set page_title = "COnnect Local Account" %}

{% extends "common/templates/_layouts/base.html" %}

{% block content %}
<div class="flex items-center max-w-md mx-auto justify-center bg-surface-100 dark:bg-surface-800 rounded-xl shadow-xl">
    <div class="max-w-md w-full space-y-8 p-8">
        <div>
            <h1 class="mt-6 text-center text-3xl font-bold">
                Connect Local Account
            </h1>
            <p class="mt-2 text-center text-sm">
                Add support to login with email and password to your account
            </p>
        </div>

        <form action="{{ url_for('auth.connect_local.post') }}" method="POST" class="mt-8 space-y-6">
            <div>
                <div class="flex justify-between items-center">
                    <label for="email" class="block text-sm font-medium">Email</label>
                    <a href="{{ url_for('auth.change_email') }}" class="text-sm text-accent-500 hover:text-accent-600">
                        Change email?
                    </a>
                </div>
                <input type="email" name="email" id="email" required value="{{ user.email }}" readonly disabled class="form-input">
                <p class="mt-1 text-sm">You'll use this email to log in.</p>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium">Password</label>
                <input type="password" name="password" id="password" required class="form-input">
            </div>
            <div>
                <label for="confirm-password" class="block text-sm font-medium">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm-password" required class="form-input">
            </div>

            <button type="submit" class="btn btn-primary w-full ">
                Connect Account
            </button>
        </form>

        <div class="text-center mt-6">
            <p class="text-sm">
                <-- Back to
                <a href="{{ url_for('auth.account_settings') }}" class="font-medium text-accent-500 hover:text-accent-600">
                    Account Settings
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
