{% set page_title = "Resend Verification" %}

{% extends "common/templates/_layouts/base.html" %}

{% block content %}
<div class="flex items-center max-w-md mx-auto justify-center bg-surface-100 dark:bg-surface-800 rounded-xl shadow-xl">
    <div class="max-w-md w-full space-y-8 p-8">
        <h1 class="text-center mt-6 text-3xl font-bold">
            Oops, your account is not verified!
        </h1>

        <form class="mt-4 space-y-4" method="post" action="{{ url_for('auth.send_verify_email.post') }}">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="provider_name" value="{{ provider }}">
            <div>
                <button type="submit" class="w-full btn btn-primary">
                    Resend Verification Email
                </button>
            </div>
        </form>
        <p class="text-sm text-center">
            Resend your verification email to {{ email }}
        </p>
        <div class="text-center mt-6">
            <p class="text-sm">
                Login with a different account?
                <a href="{{ url_for('auth.login') }}" class="font-medium text-accent-500 hover:text-accent-600">
                    Login here
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
